
@{
    foreach (var car in Model.AllCars)
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col-sm">
                        <img class="img-thumbnail" src="@car.Img" alt="@car.Name">
                    </div>
                </div>
                <div class="col">
                    <h3>@car.Name</h3>
                    <div class="row">
                        @car.ShortDesc
                    </div>
                    <div class="row">
                        @car.LongDesc
                    </div>
                    <div class="row">
                        @car.Price.ToString()$
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" style="height: 3px;">
                
            </div>
            
        </div>
    }
 }

